@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

body {
    background-image: url("assets/images/background.webp");
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    backdrop-filter: blur(50px);
    padding-bottom: 15px;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4b5577;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 100;
}

.preloader.fade-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.preloader .ant-spin-lg .ant-spin-dot {
    font-size: 50px;
    opacity: 50%;
}

.preloader .ant-spin-lg .ant-spin-dot i {
    width: 25px;
    height: 25px;

}

.ant-spin .ant-spin-dot-item {
    background-color: #ffffff;
}

.ant-form {
    position: relative;
    height: 40px;
}

.ant-input, .ant-input:hover, .ant-input:focus, .ant-input:focus-within {
    border: 1px solid #00000009;
    outline: none;
    background-color: #393d4d;
    box-shadow: none;
}

.ant-input:where(.css-dev-only-do-not-override-1r287do).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
    background-color: #393d4d;
    border: 1px solid #af4547;
}

:where(.css-dev-only-do-not-override-1r287do).ant-btn-primary {
    color: #fff;
    background-color: #387ad3;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

.swiper-pagination-bullet-active {
    background-color: #2075cf;
}

.swiper-pagination-bullet {
    width: 17px;
    height: 17px;
    outline: none;
}

.swiper-pagination {
    top: 14px !important;
    height: 16px;
    text-align: right;
    padding-right: 20px;
}

.swiper {
    width: 100%;
    height: 100%;
}